 <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
              <img src="/public/assets/logo3.png" alt="" width="50px" height="50px" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {{activeHome}}" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{activeBlog}}" aria-current="page" href="/blog">Blog</a>
              </li>
            </ul>

              {{#if isLogin}}
              <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Hi {{user.name}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
              </ul>
              {{else}}
              <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link {{activeLogin}}" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{activeRegister}}" aria-current="page" href="/register">Register</a>
                </li>
              </ul>
            {{/if}}
            <a class="btn text-white bg-orange" href="/contact">Contact Me</a>
          </div>
        </div>
      </nav>